*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #548687;
    text-align: center;
}
.heading
{
    height: 40px;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;    
}
.game
{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box
{
    height: 18vmin;
    width: 18vmin;
    border : 2px solid rgb(93, 21, 5);
    border-radius: 0.50rem;
    color: rgb(43, 14, 14);
    background-color: #ffffc7;
}
#reset
{
    margin-top: 20px;
    height: 20px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191913;
    color: whitesmoke;
}
#newbtn
{
    margin-top: 20px;
    height: 20px;
    width: 85px;
    align-items: center;
    justify-content: center;
    background-color: #191913;
    color: whitesmoke;   
}
.msg
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffc7;
    font-size: 8vmin;
}
.me
{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffc7;
    font-size: 8vmin;
    margin-bottom: 20px;
}
.hide
{
    display: none;
}